<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>n_reward_base1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{551,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,313}}</string>
                <key>sourceSize</key>
                <string>{551,313}</string>
            </dict>
            <key>n_reward_base2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,764},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>n_reward_complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,891},{93,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,75}}</string>
                <key>sourceSize</key>
                <string>{93,75}</string>
            </dict>
            <key>n_reward_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,293},{201,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,271}}</string>
                <key>sourceSize</key>
                <string>{201,271}</string>
            </dict>
            <key>n_reward_frame_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,495},{193,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{193,267}}</string>
                <key>sourceSize</key>
                <string>{201,271}</string>
            </dict>
            <key>n_reward_framecover.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,90},{201,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,271}}</string>
                <key>sourceSize</key>
                <string>{201,271}</string>
            </dict>
            <key>n_reward_illustration6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{865,2},{491,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,130}}</string>
                <key>sourceSize</key>
                <string>{491,130}</string>
            </dict>
            <key>n_reward_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,2},{489,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,4}}</string>
                <key>sourceSize</key>
                <string>{489,4}</string>
            </dict>
            <key>n_reward_ribbon.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2},{308,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,86}}</string>
                <key>sourceSize</key>
                <string>{308,86}</string>
            </dict>
            <key>n_reward_ribbon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>testTP.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae6dc61a25d0dcb4054370c3d4d88290:1/1$</string>
            <key>textureFileName</key>
            <string>testTP.pvr.ccz</string>
        </dict>
    </dict>
</plist>
